h1 #{displayName} a partagé le #{localized_type} "#{doc.name}" avec vous !

p
    a(href=url)= localized_link
    | .
p
    | Envoyé depuis le&nbsp;
    a(href="http://cozy.io") Cozy
    | &nbsp;de #{displayName}.
