!!!
html
  head
    title Cozy - Files
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="../assets/stylesheets/app.css")

    style.
      #download-link, #button-upload-new-file, #button-new-folder{
        margin-left: 10px;
        height: 35px;
        text-align: center;
      }
      #download-link i.icon-arrow-down {
        margin-top: -7px;
        vertical-align: middle;
      }
      #button-upload-new-file img, #button-new-folder img, #download-link i{
        font-size: 20px;
        text-align: center;
        height: 20px;
        width: 20px;
      }

  body.public

    .container
      .row.content-shadow
        #content.col-lg-12

          a#download-link.btn.btn-cozy.pull-right(
            href=path[path.length-1].id + '.zip' + keyquery
            title=t("download"))
            | #{t("download")}&nbsp;
            i.icon-arrow-down.icon-white

          if canupload

            a#button-upload-new-file.btn.btn-cozy.pull-right(
              data-toggle="modal",
              data-target="#dialog-upload-file")

              img(src="../assets/images/add-file.png")


            a#button-new-folder.btn.btn-cozy.pull-right(
              data-toggle="modal",
              data-target="#dialog-new-folder")

              img(src="../assets/images/add-folder.png")


          a#notifications.btn.btn-cozy.pull-right(
            href= keyquery + '&notifications=' + !notifications)

            if notifications
              = t('disable notifications')
            else
              = t('enable notifications')

          #crumbs
            ul
              each folder in path
                li: a(href=folder.id + keyquery)= folder.name



          table#table-items.table.table-hover
            tbody.table-items-body
              tr.table-headers
                td: span= t('name')
                td.size-column-cell: span= t('size')
                td.type-column-cell: span= t('type')
                td.date-column-cell: span= t('date')

              each folder in folders
                tr.folder-row
                  td: span
                    a(href=folder.id + keyquery).img-folder
                      img(src="../assets/images/folder.png")
                    a(href=folder.id + keyquery).caption.btn.btn-link= folder.name
                  td.size-column-cell
                  td.type-column-cell: span= t('Folder')
                  td.date-column-cell

              each file in files
                tr.folder-row
                  td: span
                    a(href='../files/' + file.id + keyquery).img-file
                      img(src="../assets/images/file.png")
                    a(href='../files/' + file.id + keyquery).caption.btn.btn-link= file.name
                  td.size-column-cell: span= file.size
                  td.type-column-cell: span= file.class
                  td.date-column-cell: span= file.lastModification


    if canupload
      #dialog-upload-file.modal.fade(tabindex=-1)
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title #{t("upload caption")}
                .modal-body
                  fieldset
                    .form-group
                      label(for='uploader')
                        | #{t("upload msg")}
                      input#uploader.form-control(type="file", multiple)
                .modal-footer
                  button.btn.btn-link#cancel-new-file(type='button', data-dismiss='modal') #{t("upload close")}
                  button.btn.btn-cozy-contrast#upload-file-send(type='button') #{t("upload send")}

      #dialog-new-folder.modal.fade(tabindex=-1)
          .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title #{t("new folder caption")}
                .modal-body
                  fieldset
                    .form-group
                      label(for='inputName')
                        | #{t("new folder msg")}
                      input#inputName.form-control(type="text")
                    .form-group.hide#folder-upload-form
                      br
                      p.text-center or
                      label(for='inputName')
                        | #{t("upload folder msg")}
                      input#folder-uploader.form-control(type="file", directory, mozdirectory, webkitdirectory)
                .modal-footer
                  button.btn.btn-link#cancel-new-folder(type='button', data-dismiss='modal') #{t("new folder close")}
                  button.btn.btn-cozy#new-folder-send(type='button') #{t("new folder send")}
