h1 #{displayName} shared a #{type} with you!

- var prefix = ''
if type == 'file'
    - prefix = 'view'
else
    - prefix = 'browse'

p
    a(href=url) Click here to #{prefix}
    | &nbsp;this #{type}.
p
    | Sent from #{displayName}'s&nbsp;
    a(href="http://cozy.io") Cozy.
