#spinOverlay: span= t("Saving ...")


a.btn#save=   t("Save")

.btn-group#more
  a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
    = t("More")
    | &nbsp;
    span.caret
  ul.dropdown-menu.pull-right
    li: a.addbirthday= t("Add Birthday")
    li: a.addcompany=  t("Add Company")
    li: a.addtitle=    t("Add Title")
    li.divider
    li: a.addtel=      t("Add Phone")
    li: a.addemail=    t("Add Email")
    li: a.addadr=      t("Add Postal")
    li: a.addurl=      t("Add Url")
    li: a.addother=    t("Add Other")
    li.divider
    li.delete: a#delete
      i.icon-remove
      = t("Delete the contact")





div#picture
  if hasPicture
    img.picture(src="contacts/#{id}/picture.png")
  else
    img.picture(src="img/defaultpicture.png")

  #uploadnotice= t("Change")
  input#uploader(type="file")

a#close(href="#") &times;

#wrap-name-notes
  input#name(placeholder=t("Name"), value="#{fn}")
  textarea(rows="3", placeholder=t('Take notes here'))#notes #{note}



#zones
  #abouts.zone
    h2= t("About")
      a.btn.add.addabout: i.icon-plus
    ul

  #tels.zone
    h2= t("Phones")
      a.btn.add.addtel: i.icon-plus
    ul

  #emails.zone
    h2= t("Emails")
      a.btn.add.addemail: i.icon-plus
    ul

  #adrs.zone
    h2= t("Postal")
      a.btn.add.addadr: i.icon-plus
    ul

  #urls.zone
    h2= t("Links")
      a.btn.add.addurl: i.icon-plus
    ul

  #others.zone
    h2= t("Others")
      a.btn.add.addother: i.icon-plus
    ul
