a#close(href="#") &lt;

div#picture
  if hasPicture
    img.picture(src="contacts/#{id}/picture.png")
  else
    img.picture(src="img/defaultpicture.png")

  #uploadnotice= t("Change")
  input#uploader(type="file")

#wrap-name-notes
  input#name(placeholder=t("Name"), value="#{fn}")
  input#tags.tagit(value=tags.join(','))

span#save-info= t('changes saved') + ' '
  a#undo=t('undo')

a#delete(title= t("delete the contact"))= t('delete')

#zones
  #notes-zone.zone
    h2= t('notes')
    textarea(rows="3", placeholder=t('Take notes here'))#notes #{note}

  #abouts.zone
    h2= t("about")
    ul
    a.btn.add.addabout= t('add')

  #tels.zone
    h2= t("phones")
    ul
    a.btn.add.addtel= t('add')

  #emails.zone
    h2= t("emails")
    ul
    a.btn.add.addemail= t('add')

  #adrs.zone
    h2= t("postal")
    ul
    a.btn.add.addadr= t('add')

  #urls.zone
    h2= t("links")
    ul
    a.btn.add.addurl= t('add')

  #others.zone
    h2= t("others")
    ul
    a.btn.add.addother= t('add')



  #adder.zone
    h2= ("add")
    a.addbirthday= t("birthday") + ', '
    a.addcompany=  t("company") + ', '
    a.addtitle=    t("title") + ', '
    a.addtel=      t("phone") + ', '
    a.addemail=    t("email") + ', '
    a.addadr=      t("postal") + ', '
    a.addurl=      t("url") + ', '
    a.addother=    t("other")
