input.type(type="text", data-provide="typeahead", value="#{type}")

if name == 'smail'
  textarea.value(rows="4", placeholder="#{placeholder}") #{value}
else
  input.value(type="text", placeholder="#{placeholder}", value="#{value}")