a#close(href="#") &lt;

h2= t('help')

p= t("search info")

p= t("click left to display")

p= t("creation info")

p= t("carddav info")

h2= t('settings')
p
    label(for="nameFormat")= t('name format info')
    select.span5.large#nameFormat
        option(value="given-familly", selected="selected")= t('format given familly')
        option(value="familly-given")= t('format familly given')
        option(value="given-middleinitial-familly")= t('format given mid familly')


h2= t('import export')
p= t("call log info") + ' '
    a(href="#callimport")= t('import call log')

p= t('vcard export info') + ' '
    a(href="contacts.vcf", download="contacts.vcf", title=t("export vcard"))= t('export all vcard')

p= t("vcard import info") + ' '
    a(href="#import")= t('import vcard')
