.modal-header= t("name editor")
.modal-body
    form.form-horizontal
        .control-group
            label.control-label(for="prefix")= t("prefix")
            .controls
                input#prefix(type="text", value=n[3], placeholder=t("placeholder prefix"))
        .control-group
            label.control-label(for="first")= t("first name")
            .controls
                input#first(type="text", value=n[1], placeholder=t("placeholder first"))
        .control-group
            label.control-label(for="middle")= t("middle name")
            .controls
                input#middle(type="text", value=n[2], placeholder=t("placeholder middle"))
        .control-group
            label.control-label(for="last")= t("last name")
            .controls
                input#last(type="text", value=n[0], placeholder=t("placeholder last"))
        .control-group
            label.control-label(for="suffix")= t("suffix")
            .controls
                input#suffix(type="text", value=n[4], placeholder=t("placeholder suffix"))
        .control-group
            label.control-label(for="full")= t("full name")
            .controls
                input#full(type="text", disabled="disabled",
                    value=fn)


.modal-footer
    a#cancel-btn.minor-button= t("cancel")
    a#confirm-btn.button= t("save")
