i.icon-file 
a(href="files/#{model.id}/attach/#{model.name}", target="_blank")  #{model.name}  
button.delete
  i.icon-trash.icon-white 
a(href="files/#{model.id}/download/#{model.name}", download="#{model.name}")  
  i.icon-download.icon-white