td

  block file-path
    // empty by default

  div.caption-wrapper

    block title
      if model.type == 'folder'
        .caption.btn.btn-link
          span.icon-zone
            div.spinholder
              img(src="images/spinner.svg")
            div.selector-wrapper
              input.selector(type="checkbox")
            if clearance == 'public'
              span.fa.fa-globe
              i.fa.fa-folder-o
            else if clearance && clearance.length > 0
              span.fa.fa-globe
              i.fa.fa-folder-o
            else
              i.fa.fa-folder
          a.btn-link(href="#folders/#{model.id}", title="#{t('open folder')}")
            span
              | #{model.name}
      else if model.type == 'file'
        .caption.btn.btn-link(data-file-url="#{attachmentUrl}")
          span.icon-zone
            div.spinholder
              img(src="images/spinner.svg")
            if clearance == 'public'
              span.fa.fa-globe
            else if clearance && clearance.length > 0
              span.fa.fa-globe
            div.selector-wrapper
              input.selector(type="checkbox")
            if model.mime && this.mimeClasses[model.mime]
              i(class="fa #{this.mimeClasses[model.mime]}")
            else
              i.fa.fa-file-o
          if !isBroken
              a.btn-link(
                href="#{attachmentUrl}",
                title="#{t('download file')}", target="_blank")
                  span
                    | #{model.name}
          else
            span.file-name
              | #{model.name}

    block tags
      ul.tags
        for tag in model.tags || []
          li.tag #{tag}
            span.deleter.fa.fa-times

    block actions
      if !isUploading && !isBroken
        .operations
          a.file-tags(title="#{t('tooltip tag')}")
            span.fa.fa-tag
          a.file-share(title="#{t('tooltip share')}")
            span.fa.fa-share-alt
          a.file-edit(title="#{t('tooltip edit')}")
            span.fa.fa-pencil-square-o
          a.file-download(
              href="#{downloadUrl}",
              target="_blank", title="#{t('tooltip download')}")
            span.fa.fa-download
          
      else if isUploading
        a.cancel-upload-button.btn.btn-link #{t('file edit cancel')}
        
      else
        .broken-widget
          span.broken-text #{t('file broken indicator')}
          a.broken-button(title="#{t('file broken remove')}")
              span.fa.fa-trash

td.size-column-cell
  if model.type == 'file'
    - options = {base: 2}
    span #{filesize(model.size || 0, options)}

td.type-column-cell
  if model.type == 'folder'
    span.pull-left #{t('folder')}
  else
    span.pull-left #{t(model.class)}

td.date-column-cell
  if model.lastModification
    span #{moment(model.lastModification).calendar()}
