if model.type && model.type == "folder"
  td
    a.img-folder
      img(src="images/folder.png")
    a.caption.btn.btn-link(href="#folders/#{model.id}")
      | #{model.name}
    .operations
      a.file-delete
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit
    p.file-path
      | #{model.path}/#{model.name}
  td
  td
  td
else
  td
    span.glyphicon.glyphicon-file.no-hover.icon
    a.caption.btn.btn-link(href="files/#{model.id}/attach/#{model.name}", target="_blank")
      | #{model.name}
    .operations
      a.file-delete
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit  
      a(href="files/#{model.id}/download/#{model.name}", download="#{model.name}")
        span.glyphicon.glyphicon-cloud-download  
      a.file-share
        span.glyphicon.glyphicon-share-alt
    p.file-path
      | #{model.path}/#{model.name}
  td.file-size
    - options = {base: 2}
    span.pull-left #{filesize(model.size || 0, options)}
  td.file-type
    span.pull-left #{model.mime}
  td.file-date
    if model.lastModification
      span.pull-right #{moment(model.lastModification).calendar()}
