if model.type && model.type == "folder"
  td
    a.img-folder(href="#folders/#{model.id}")
      img(src="images/folder.png")
    a.caption.btn.btn-link(href="#folders/#{model.id}")
      | #{model.name}
    .operations
      a.file-delete(title="#{t('tooltip delete')}")
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit(title="#{t('tooltip edit')}")
        span.glyphicon.glyphicon-edit  
      a(href="folders/#{model.id}/zip/#{model.name}", target="_blank")(title="#{t('tooltip download')}")
        span.glyphicon.glyphicon-cloud-download
      a.file-share(title="#{t('tooltip send')}")
        span.glyphicon.glyphicon-share-alt
  td
  td
    span.pull-left #{t('folder')}
  td
else
  td
    a.img-file(href="files/#{model.id}/attach/#{model.name}", target="_blank")
      if model.class == "music"
        img(src="images/music.png")
      else
        img(src="images/file.png")
    a.caption.btn.btn-link(href="files/#{model.id}/attach/#{model.name}", target="_blank")
      | #{model.name}
    .operations
      a.file-delete(title="#{t('tooltip delete')}")
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit(title="#{t('tooltip edit')}")
      a(href="files/#{model.id}/download/#{model.name}", download="#{model.name}")(title="#{t('tooltip download')}")
        span.glyphicon.glyphicon-cloud-download
      a.file-share(title="#{t('tooltip send')}")
        span.glyphicon.glyphicon-share-alt
  td.file-size
    - options = {base: 2}
    span.pull-left #{filesize(model.size || 0, options)}
  td.file-type
    span.pull-left #{t(model.class)}
  td.file-date
    if model.lastModification
      span.pull-right #{moment(model.lastModification).calendar()}
