td
  div.spinholder &nbsp;
  div.caption-wrapper
    block title
      if model.type == 'folder'
        a.caption.btn.btn-link(
            href="#folders/#{model.id}", title="#{t('open folder')}")
          i.fa.fa-folder
          | #{model.name}
      else if model.type == 'file'
        a.caption.btn.btn-link(
            href="#{attachmentUrl}",
            title="#{t('download file')}", target="_blank")
          if model.mime && this.mimeClasses[model.mime]
            i(class="fa #{this.mimeClasses[model.mime]}")
          else
            i.fa.fa-file-o
          | #{model.name}
    block tags
      ul.tags
        for tag in model.tags || []
          li.tag #{tag}
            span.deleter &times;

    block actions
      if !isBeingUploaded
        .operations
          a.file-share(title="#{t('tooltip share')}")
            if model.clearance == 'public'
              span.fa.fa-globe
            else if model.clearance && model.clearance.length > 0
              span.fa.fa-users #{model.clearance.length}
            else
              span.fa.fa-lock
          a.file-edit(title="#{t('tooltip edit')}")
            span.glyphicon.glyphicon-edit
          a.file-move(title="#{t('tooltip move')}")
            span.glyphicon.glyphicon-arrow-right
          a.file-delete(title="#{t('tooltip delete')}")
            span.glyphicon.glyphicon-remove-circle
          a.file-download(
              href="#{downloadUrl}",
              target="_blank", title="#{t('tooltip download')}")
            span.glyphicon.glyphicon-cloud-download
  block file-path
    // empty by default
td.size-column-cell
  if model.type == 'file'
    - options = {base: 2}
    span #{filesize(model.size || 0, options)}
td.type-column-cell
  if model.type == 'folder'
    span.pull-left #{t('folder')}
  else
    span.pull-left #{t(model.class)}
td.date-column-cell
  if model.lastModification
    span #{moment(model.lastModification).calendar()}
