table#table-items.table.table-hover
  thead
    tr.table-headers
      td
        button#select-all
          if numSelectedElements == 0 || numElements == 0
            i.fa.fa-square-o
          else if numSelectedElements == numElements
            i.fa.fa-check-square-o
          else
            i.fa.fa-minus-square-o

        a#down-name.btn.unactive
          span= t('name')
          .fa.fa-chevron-down
        a#up-name.btn.unactive
          span= t('name')
          .fa.fa-chevron-up

      td.size-column-cell
        a#down-size.btn.unactive
          span= t('size')
          .fa.fa-chevron-down
        a#up-size.unactive.btn
          span= t('size')
          .fa.fa-chevron-up

      td.type-column-cell
        a#down-class.btn.unactive
          span= t('type')
          .fa.fa-chevron-down
        a#up-class.btn.unactive
          span= t('type')
          .fa.fa-chevron-up

      td.date-column-cell
        a#down-lastModification.btn.unactive
          span= t('date')
          .fa.fa-chevron-down
        a#up-lastModification.btn.unactive
          span= t('date')
          .fa.fa-chevron-up

  tbody#table-items-body

p.footer#file-amount-indicator
p.footer#no-files-indicator
  if model.type == 'search'
    | #{t('no file in search')}
  else
    | #{t('no file in folder')}
