if model.isFolder
  td
    span.glyphicon.glyphicon-folder-close  
    a.btn.btn-linka(href="#folders/#{model.id}")
      | #{model.name}
    .operations
      a.file-delete
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit  
  td.operation-title
  td.operation-amount
    span.pull-right 12:00 12/10/2013
else
  td
    span.glyphicon.glyphicon-file  
    a.btn.btn-linka(href="files/#{model.id}/attach/#{model.name}", target="_blank")
      | #{model.name}
    .operations
      a.file-delete
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit  
      a(href="files/#{model.id}/download/#{model.name}", download="#{model.name}")
        span.glyphicon.glyphicon-cloud-download  
  td.operation-title
  td.operation-amount
    span.pull-right 12:00 12/10/2013