table#table-items.table.table-hover
  thead
    tr.table-headers
      td
        input#select-all(type="checkbox")
        span= t('name')
        a#down-name.btn.fa.fa-chevron-down.unactive
        a#up-name.btn.fa.fa-chevron-up.unactive
      td.size-column-cell
        span= t('size')
        a#down-size.fa.fa-chevron-down.btn.unactive
        a#up-size.unactive.btn.fa.fa-chevron-up.unactive
      td.type-column-cell
        span= t('type')
        a#down-class.btn.fa.fa-chevron-down.unactive
        a#up-class.fa.fa-chevron-up.btn.unactive
      td.date-column-cell
        span= t('date')
        a#down-lastModification.btn.fa.fa-chevron-down.unactive
        a#up-lastModification.btn.fa.fa-chevron-up.unactive
  tbody#table-items-body

p.footer#file-amount-indicator
p.footer#no-files-indicator
  if model.type == 'search'
    | #{t('no file in search')}
  else
    | #{t('no file in folder')}
