include ./svgdefs.svg

table#table-items.table.table-hover
  thead
    tr.table-headers
      th.name(aria-sort="ascending")
        input#select-all(type="checkbox")
        span= t('name')
        a#down-name.btn.glyphicon.glyphicon-chevron-down.unactive
        a#up-name.btn.glyphicon.glyphicon-chevron-up.unactive
      th.operations.size-column-cell &nbsp;
      th.size.size-column-cell(aria-sort="none")
        span= t('size')
        a#down-size.glyphicon.glyphicon-chevron-down.btn.unactive
        a#up-size.unactive.btn.glyphicon.glyphicon-chevron-up.unactive
      th.class.type-column-cell(aria-sort="none")
        span= t('type')
        a#down-class.btn.glyphicon.glyphicon-chevron-down.unactive
        a#up-class.glyphicon.glyphicon-chevron-up.btn.unactive
      th.lastModification.date-column-cell(aria-sort="none")
        span= t('date')
        a#down-lastModification.btn.glyphicon.glyphicon-chevron-down.unactive
        a#up-lastModification.btn.glyphicon.glyphicon-chevron-up.unactive
  tbody#table-items-body

p.footer#file-amount-indicator
p.footer#no-files-indicator
  if model.type == 'search'
    | #{t('no file in search')}
  else
    | #{t('no file in folder')}
