if model.type && model.type == "folder"
  td
    span.glyphicon.glyphicon-folder-close.no-hover.icon
    a.caption.btn.btn-link(href="#folders/#{model.id}")
      | #{model.name}
    .operations
      a.file-delete
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit
    p.file-path
      | #{model.path}/#{model.name}
  td
  td.file-date
    span.pull-right 12:00 12/10/2013
else
  td
    span.glyphicon.glyphicon-file.no-hover.icon
    a.caption.btn.btn-link(href="files/#{model.id}/attach/#{model.name}", target="_blank")
      | #{model.name}
    .operations
      a.file-delete
        span.glyphicon.glyphicon-remove-circle  
      a.file-edit
        span.glyphicon.glyphicon-edit  
      a(href="files/#{model.id}/download/#{model.name}", download="#{model.name}")
        span.glyphicon.glyphicon-cloud-download  
      a.file-share
        span.glyphicon.glyphicon-share-alt
    p.file-path
      | #{model.path}/#{model.name}
  td
  td.file-date
    span.pull-right 12:00 12/10/2013
