#dialog-upload-file.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title #{t("upload caption")}
          .modal-body
            fieldset
              .form-group
                label(for='uploader')
                  | #{t("upload msg")}
                input#uploader(type="file", multiple)
          .modal-footer
            button.btn.btn-link(type='button', data-dismiss='modal') #{t("upload close")}
            button.btn.btn-cozy-contrast#upload-file-send(type='button') #{t("upload send")}

#dialog-new-folder.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title #{t("new folder caption")}
          .modal-body
            fieldset
              .form-group
                label(for='inputName')
                  | #{t("new folder msg")}
                input#inputName.form-control(type="text")
          .modal-footer
            button.btn.btn-link(type='button', data-dismiss='modal') #{t("new folder close")}
            button.btn.btn-cozy#new-folder-send(type='button') #{t("new folder send")}

#affixbar(data-spy="affix", data-offset-top="1")
  .container
    .row
      .col-lg-12
        .pull-left
          input#search-box(type="search")
        #upload-buttons.pull-right
          p.pull-right
            a.btn.btn-cozy-contrast(data-toggle="modal",data-target="#dialog-upload-file")
              span.glyphicon.glyphicon-upload
              span.button-title-reponsive
                |  #{t("upload button")}
            |  
            a.btn.btn-cozy#button-new-folder(data-toggle="modal",data-target="#dialog-new-folder")
              span.glyphicon.glyphicon-plus-sign
              span.button-title-reponsive
                |  #{t("new folder button")}

.container
  .row.content-shadow
    .col-lg-12#content
      #crumbs
      #files
