#dialog-upload-file.modal.fade(tabindex=-1)
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title #{t("upload caption")}
          .modal-body
            fieldset
              .form-group
                label(for='uploader')
                  | #{t("upload msg")}
                input#uploader.form-control(type="file", multiple)
          .modal-footer
            button.btn.btn-link#cancel-new-file(type='button', data-dismiss='modal') #{t("upload close")}
            button.btn.btn-cozy-contrast#upload-file-send(type='button') #{t("upload send")}

#dialog-new-folder.modal.fade(tabindex=-1)

#affixbar(data-spy="affix", data-offset-top="1")
  .container
    .row
      .col-lg-12
        #crumbs.pull-left
        p.pull-right
          input#search-box(type="search")
          #upload-buttons.pull-right
            a.btn.btn-cozy#share-state.btn-cozy-contrast
            | &nbsp;
            a#button-upload-new-file.btn.btn-cozy.btn-cozy(
                data-toggle="modal",data-target="#dialog-upload-file")
              img(src="images/add-file.png")
            | &nbsp;
            a.btn.btn-cozy#button-new-folder
              img(src="images/add-folder.png")
            | &nbsp;
            //a#download-link.btn.btn-cozy(title=t("download"))
            //  i.icon-arrow-down.icon-white
            span &nbsp;


.container
  .row.content-shadow
    .col-lg-12#content
      #loading-indicator
      table#table-items.table.table-hover
        tbody#table-items-body
          tr.table-headers
              td
                span= t('name')
                a#down-name.btn.glyphicon.glyphicon-chevron-down
                a#up-name.btn.glyphicon.glyphicon-chevron-up
              td.size-column-cell
                span= t('size')
                a#down-size.glyphicon.glyphicon-chevron-down.btn
                a#up-size.unactive.btn.glyphicon.glyphicon-chevron-up
              td.type-column-cell
                span= t('type')
                a#down-class.btn.glyphicon.glyphicon-chevron-down
                a#up-class.glyphicon.glyphicon-chevron-up.btn.unactive
              td.date-column-cell
                span= t('date')
                a#down-lastModification.btn.glyphicon.glyphicon-chevron-down
                a#up-lastModification.btn.glyphicon.glyphicon-chevron-up.unactive
      #files
