#affixbar(data-spy="affix", data-offset-top="1")
  .container
    .row
      .col-lg-12
        #crumbs.pull-left
        div.pull-right
            if !isPublic || hasPublicKey
              input#search-box.pull-right(type="search", value="#{query}")

            if model.type != 'search'
              #upload-buttons.pull-right

                //- clearance modification buttons
                if model.id != 'root'
                  a.btn.btn-cozy#share-state.btn-cozy-contrast
                    if model.clearance == 'public'
                      | #{t('public')}
                      span.fa.fa-globe
                    else if model.clearance && model.clearance.length > 0
                      | #{t('shared')}
                      span.fa.fa-users
                      span= model.clearance.length
                    else
                      | #{t('private')}
                      span.fa.fa-lock
                  | &nbsp;

                //- file & folder uploaders
                .btn-group#upload-btngroup
                  a#button-upload-new-file.btn.btn-cozy.btn-cozy(title=t('upload button'))
                    input#uploader(type="file", multiple)
                    img(src="images/add-file.png")
                  if supportsDirectoryUpload
                    a.btn.btn-cozy.dropdown-toggle(data-toggle="dropdown")
                      span.caret
                    ul.dropdown-menu
                      li: a#button-upload-folder
                        input#folder-uploader(type="file", directory, mozdirectory, webkitdirectory)
                        span Upload a folder
                | &nbsp;
                a.btn.btn-cozy#button-new-folder(title=t('new folder button'))
                  img(src="images/add-folder.png")

                //- bulk actions: move and remove
                .btn-group#bulk-actions-btngroup
                  a#button-bulk-move.btn.btn-cozy.btn-cozy
                    | Move all&nbsp;
                    span.glyphicon.glyphicon-arrow-right
                  a#button-bulk-remove.btn.btn-cozy.btn-cozy
                    | Remove all&nbsp;
                    span.glyphicon.glyphicon-remove-circle

              //- notification toggle button
              if isPublic && hasPublicKey
                if areNotificationsEnabled
                  a#notifications.btn.btn-cozy.toggled= t('notifications enabled')
                else
                  a#notifications.btn.btn-cozy= t('notifications disabled')
                | &nbsp;

              //- download button
              a#download-link.btn.btn-cozy-contrast(
                href="#{zipUrl}"
                title=t("download"))
                | #{t("download")}&nbsp;
                i.icon-arrow-down.icon-white
    .row
      .col-lg-12#upload-status-container

.container
  .row
    .col-lg-12#content
      #loading-indicator &nbsp;
      #files
      #files-drop-zone
        .overlay
        .vertical-container
          p= t('drop message')
