#dialog-upload-file.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title #{t("upload caption")}
          .modal-body
            fieldset
              .form-group
                label(for='uploader')
                  | #{t("upload msg")}
                input#uploader(type="file", multiple)
          .modal-footer
            button.btn.btn-link#cancel-new-file(type='button', data-dismiss='modal') #{t("upload close")}
            button.btn.btn-cozy-contrast#upload-file-send(type='button') #{t("upload send")}

#dialog-new-folder.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title #{t("new folder caption")}
          .modal-body
            fieldset
              .form-group
                label(for='inputName')
                  | #{t("new folder msg")}
                input#inputName.form-control(type="text")
          .modal-footer
            button.btn.btn-link#cancel-new-folder(type='button', data-dismiss='modal') #{t("new folder close")}
            button.btn.btn-cozy#new-folder-send(type='button') #{t("new folder send")}

#affixbar(data-spy="affix", data-offset-top="1")
  .container
    .row
      .col-lg-12
        p.pull-right
          input#search-box.pull-right(type="search")
          #upload-buttons.pull-right
            a.btn.btn-cozy(data-toggle="modal",data-target="#dialog-upload-file")
              img(src="images/add-file.png")
              span.button-title-reponsive
            |  
            a.btn.btn-cozy#button-new-folder(data-toggle="modal",data-target="#dialog-new-folder")
              img(src="images/add-folder.png")
              span.button-title-reponsive
.container
  .row.content-shadow
    .col-lg-12#content
      #crumbs
      table#table-items.table.table-hover
        tbody#table-items-body
          tr.table-headers
              td
                span Name  
                a.btn#down-name(type='buton')
                  span.glyphicon.glyphicon-chevron-down
                a.btn#up-name(type='buton', disabled=true)
                  span.glyphicon.glyphicon-chevron-up 
              td.size-column-cell
                span    Size
                a.btn#down-size(type='buton')
                  span.glyphicon.glyphicon-chevron-down
                a.btn#up-size(type='buton', disabled=true)
                  span.glyphicon.glyphicon-chevron-up 
              td.type-column-cell
                span    Type
                a.btn#down-class(type='buton')
                  span.glyphicon.glyphicon-chevron-down
                a.btn#up-class(type='buton', disabled=true)
                  span.glyphicon.glyphicon-chevron-up 
              td.date-column-cell
                span    Date
                a.btn#down-lastModification(type='buton')
                  span.glyphicon.glyphicon-chevron-down
                a.btn#up-lastModification(type='buton', disabled=true)
                  span.glyphicon.glyphicon-chevron-up
      #files
