h1 The content of #{name} has changed.

p
    a(href=url) Click here to see what is new !

p
    | To unsubscribe from these notification,&nbsp;
    a(href=url + '&notifications=false') click here
    | .

p
    | Sent from #{displayName}'s Cozy.

doctype
html
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

  body
    table(cellspacing="0", style="border-radius: 5px; border: 5px solid #34A6FF; margin: auto; width: 75%; padding: 20px 20px 10px 20px")
      tr
        th(style="color: #34A6FF; font-size: 20px") The content of "#{name}" has changed.
      tr
        td(style="padding: 45px 0; text-align: center; font-size: 18px")
          a(href=url, style="background: #34A6FF; color: #fff; padding: 8px; border-radius: 5px; text-decoration: none;")
            | #{localization.t('link folder content')} !
      tr
        td(style="text-align: center;")
          | To unsubscribe from these notifications,&nbsp;
          a(href=url + '&notifications=false', style="color: #34A6FF;") click here
          | .

      tr
        td(style="text-align: right; font-size: 12px; padding-top: 20px;")
          | Sent from #{displayName}'s&nbsp;
          a(href="http://cozy.io", style="color: #34A6FF;") Cozy
          | .
